<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146654629-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-146654629-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="{{ static_url('/static/yangexplains_logo.png') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/e183d99316.js"></script>

    <!-- some webfonts -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">

    <!-- title and og tags are set in react, but some scrapers don't execute javascript so we set them here too. -->
    {% if explainer %}
      <title>Yang Explains -- {{ explainer.question }}</title>
      <meta name="description" content="Andrew Yang explains -- {{ explainer.question }}" />
      <meta property="og:title" content="Yang Explains" />
      <meta property="og:image" content="{{ site_base_url }}{{ static_url('/static/yangexplains_logo.png') }}" />
    {% else %}
      <title>Yang Explains</title>
      <meta name="description" content="Andrew Yang explains everything!" />
      <meta property="og:title" content="Yang Explains" />
      <meta property="og:image" content="{{ site_base_url }}{{ static_url('/static/yangexplains_logo.png') }}" />
    {% endif %}

    <script>
     var YangConfig = {
         {% if current_user.is_authenticated %}
         user: {{ current_user.serialize()|tojson }},
         {% else %}
         user: null,
         {% endif %}
         logo: "{{ site_base_url }}{{ static_url('/static/yangexplains_logo.png') }}"
     };
     YangConfig.isApprover = YangConfig.user && YangConfig.user.is_approver;
     YangConfig.userId = YangConfig.user && YangConfig.user.id;
    </script>

    <link rel="stylesheet" href="{{ static_url('/static/main.css') }}">
    <link rel="stylesheet" href="{{ static_url('/static/autosuggest.css') }}">
  </head>
  <body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">
      <div class="container-fluid">{% block body %}{% endblock %}</div>
    </main>

    <footer class="footer mt-auto py-3">
      <div class="container text-center">
        <span class="text-muted">
          <a target="_blank"
             href="https://github.com/mgalgs/yangexplains.org">About</a>
        </span>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e9e62351e464962"></script>

    <script src="{{ static_url('/static/main.js') }}"></script>
  </body>
</html>
