body {
    background-color: #f0f0f0;
}
.bg-blue-brand {
    background-color: rgb(20, 46, 123);
}
.bg-red-brand {
    background-color: #da344b;
}
.yang-header {
    /* border-bottom: 1px solid #e5e5e5; */
}
.yang-center-header {
    font-size: 3em;
    font-family: 'Saira Stencil One', sans-serif !important;
    color: white;
}
a.yang-center-header:hover {
    text-decoration: none;
    color: #f0f0f0;
}
.yang-center-header span {
    padding: 0 0.2em;
    border-radius: 1em;
}
@media (max-width: 720px) {
    .yang-center-header {
        font-size: 1em;
    }
}
